.registration{
    padding: 10px 10px;
    background-color: #6791bb;
    border-radius: 5px;
    color:white;
}

.bg_color{
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}