<!-- <div class="container-fluid">
  <div class="row"> -->
    @defer{
    <app-user-list [studentList]="studentList"></app-user-list>
  }
    <!-- *ngFor="let student of studentList | slice:0:8 ;let i = index;" -->
     <!-- @for(student of studentList; track i; let i = $index){
    <div class="col-md-3">
        <div class="card">
      <div class="card-header">Student : {{i+1}}</div>
      <div class="card-body">
        <h5 class="card-title">{{student.title | textTransform:10}}</h5>
        <p class="card-text">
            {{student.body}}
        </p>
        <a href="#" class="btn btn-primary">Student : {{i+1}}</a>
      </div>
    </div>
    </div> 
  }-->
  <!-- </div>
</div> -->
